/* Page background styling */
.page2-home {
    position: relative;
  min-height: 85vh;
  background: url('https://t3.ftcdn.net/jpg/08/93/83/12/360_F_893831245_0rldpUgiXOFu6ijoksW2rUMNZWmeG9nv.jpg') no-repeat center center fixed;
  background-size: cover;
  padding-top: 5vh;
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Y2P brand */
.notube-brand {
  color: #8B0000;
  font-weight: 700;
  animation: pulseGlow 2.5s infinite ease-in-out;
}



/* Spinner */
.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(255, 255, 255, 0.2);
  border-top: 5px solid #ff4d4d;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
