<div class="page2-home d-flex flex-column align-items-center justify-content-center text-white text-center">
  <div class="content container p-4">
    <h1 class="display-4 fw-bold notube-brand">{{ progress }}%</h1>

    <div class="progress custom-progress-bar my-4" style="height: 25px;">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="progress"
        aria-valuemin="0"
        aria-valuemax="100"
      ></div>
    </div>

    <div *ngIf="completed" class="mt-3">
      <p class="fs-4">Conversion complete!</p>
      
    </div>

    <div *ngIf="!completed" class="mt-3">
      <p class="fs-5">Converting... Please wait.</p>
    </div>
  </div>
</div>